<!doctype html>
<html lang="en" ng-app="git-friend">
<head>
  <meta charset="utf-8">
  <title>git-friend</title>
  <link rel="stylesheet" href="main.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
</head>
<body ng-controller="GitFriendController">

<a href="https://github.com/mass/git-friend"><img style="position: absolute; top: 0; right: 0; border: 0;"
  src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
  alt="Fork me on GitHub"
  data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1 class="header">git-friend</h1>

      <h2 class="subheader">Find a GitHub coder who has similiar interests and habits as you.</h2>

      <form ng-submit="loadData(form.username)">
        <div class="row">
          <div class="col-md-offset-3 col-md-4 form-group">
            <input type="text" class="form-control input-lg" placeholder="Enter a GitHub username"
              ng-model="form.username">
          </div>
          <div class="col-md-2 form-group">
            <button class="btn btn-block btn-danger btn-lg" type="submit">Find GitHub Friends!</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" ng-if="user.login ">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <img class="img-responsive" ng-src="{{ user.avatar_url }}"/>
        </div>
        <div class="panel-footer">
          <strong>{{ user.name || user.login }}</strong>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <h2><a target="_blank" ng-href="https://github.com/stars/{{ user.login }}">{{user.stars.length }} Starred
        Repositories</a></h2>

      <div class="row">
        <div class="col-md-3" ng-repeat="star in user.stars">
          <div class="starred well">
            <a target="_blank" ng-href="{{ star.html_url }}">{{ star.full_name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="app.js"></script>
</body>
</html>
